<a href="https://colab.research.google.com/github/faradaystorm/python-temel-proje/blob/main/ileripythonargskwargs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) Args** arguments
değişken sayılı parametre vermenin bir yolu. list tuple objelerini unpack yapar ama dictionary objelerini yapmaz

In [1]:
def sum(numbers):
    res = 0
    for e in numbers:
        res += e
    return res

In [2]:
numbers = [1, 2, 3, 4]

In [3]:
sum(numbers)

10

In [4]:
numbers = [1, 2]

In [5]:
sum(numbers)

3

Args'ın anlamı, en başta liste/tuple gibi bir objem vardı ama bunu tek tek elemanlarına ayırdım demek

In [6]:
def sum(*args):
    res = 0
    for e in args:
        res += e
    return res

In [9]:
# *args = 1, 2, 3, 4 olduğunu varsayacak, yani args ın tek tek elemanlarına ayrılmış hali 1, 2, 3, 4, o zaman orijinali: args= (1,2,3,4)
sum(1, 2, 3, 4)

<class 'tuple'>
(1, 2, 3, 4)

10

In [7]:
def sum (*numbers):
    res = 0
    print(type(numbers))
    print(numbers)
    for e in numbers:
        res += e
    return res

In [8]:
sum(1, 2, 3, 4)

<class 'tuple'>
(1, 2, 3, 4)

10

In [12]:
# *args = 1, 2 olduğunu varsayacak, yani args'ın tek tek elemanlarına ayrılmış hali 1, 2 orijinali: args = (1, 2)
sum (1, 2)

<class 'tuple'>
(1, 2)

3

In [14]:
def sum_2(*args):
    res = 0
    print(type(args))
    print (args)
    print(len(args))
    for e in args:
        for j in e:
            res += j
    return res

In [15]:
sum_2([1, 2])

<class 'tuple'>
([1, 2],)
1

3

**Kwargs**
Fonksiyona değişken sayıda keyword argument verebilmemizi sağlar.

In [16]:
def students(**kwargs):

    for v in kwargs.values():
        print(v)

In [17]:
students(name="Jake", student_number = "401")

Jake
401

In [18]:
def students(**students):
    print(students)
    for v in students:
        print(v)

In [19]:
students(name="Jake", student_number = "401")

{'name': 'Jake', 'student_number': '401'}
name
student_number

**using args  and kwargs together**

kullanım sırası önemli oluyor

In [20]:
def weird(**kwargs, *args):
    res = 0
    for e in args:
        res += e

    for k,v in kwargs.items():
        print(k,":", v)

    return res

SyntaxError: ignored

In [21]:
def weird(*args, **kwargs):
    res = 0
    for e in args:
        res += e

    for k,v in kwargs.items():
        print(k,":", v)

    return res

In [22]:
weird(1, 2, 3, name="Jake", student_number=401)

name : Jake
student_number : 401

6

In [24]:
weird(1, 2, 3, 4, 5, 6, name="Jake", student_number=401, age= 24)

name : Jake
student_number : 401
age : 24

21

**Unpacking**

In [25]:
l =[1, 2, 3, 4]

In [26]:
print(l)

[1, 2, 3, 4]

In [27]:
print(*l)

1 2 3 4

In [28]:
l1 = [1, 2, 3, 4]

In [29]:
l2 = [20, 21]

In [30]:
merged_l = [*l1, *l2]

In [32]:
merged_l

[1, 2, 3, 4, 20, 21]

In [33]:
d1 = {"name":"Jake", "number": 402}

In [34]:
d2 = {"last_name":"Sky", "grade": 74}

In [35]:
d1+ d2

TypeError: ignored

In [36]:
d_merged = {**d1, **d2}

In [37]:
d_merged

{'name': 'Jake', 'number': 402, 'last_name': 'Sky', 'grade': 74}

In [38]:
d1 = {"name":"Jake", "number": 402}
d3 = {"name":"Sky", "grade": 74}

In [39]:
d_merged_3 = {**d1, **d3}  #en güncel değeri alıyor

In [40]:
d_merged_3

{'name': 'Sky', 'number': 402, 'grade': 74}

In [41]:
d_merged_2 = {"d1":d1, "d2":d2}

In [42]:
d_merged_2

{'d1': {'name': 'Jake', 'number': 402},
 'd2': {'last_name': 'Sky', 'grade': 74}}

In [45]:
str_list = [*"hey this is a string"]

In [46]:
str_list

['h',
 'e',
 'y',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [47]:
str_list = [*"hey"]

In [48]:
str_list

['h', 'e', 'y']